.content {
  background: linear-gradient($red 95%, $red-dark);
  padding: 20px 8px;
}

.content__article {
  max-width: 480px;
  margin: 0 auto;
}

.content__salutation {
  font-size: 1.3em;
}

.content__title {
  font-size: 21px;
  margin: 20px 0 72px;
  padding: 12px 0;
  text-align: center;
  background: $red;
  color: $white;
  box-shadow: 0 4px 12px $red-dark;
  border: 2px solid $white;

  @media (min-width: 480px) {
    font-size: 32px;
    line-height: 1.3;
  }
}

.content__subheading {
  text-shadow: 2px 4px 2px $red-dark;
  margin-top: 48px;

  &::before {
    content: '➔';
    color: white;
    margin-right: 12px;
  }
}

.content__signed {
  font-style: italic;
  font-size: 1.4em;
}
